<header class="header">
    <div class="row">
        <div class="col-2">
            <div class="btn-link">
                <a href="">
                    Accueil
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-link">
                <a href="compétences">
                    Compétences
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-link">
                <a href="langages">
                    Langages
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-link">
                <a href="cursusScolaire">
                    Cursus scolaire
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-link">
                <a href="experienceProfesionelle">
                    Expériences professionelle
                </a>
            </div>
        </div>
        <div class="col-2">
            <div class="btn-link">
                <a href="personel">
                    Hobbies et projets
                </a>
            </div>
        </div>
    </div>
</header>

