<footer>
    <div class="row">
        <div class="col-lg-2 col-0"></div>
        <div class="col-lg-4 col-12">
            <div class="btn-footer">
                <a href="">LinkedIn</a>
            </div>
            <div class="btn-footer">
                <a href="">CY-Tech</a>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="btn-footer">
                <a href="">quentin.guillaume@cy-tech.fr</a>
            </div>
            <div class="btn-footer">
                <a href="">06 42 38 03 41</a>
            </div>
        </div>
        <div class="col-lg-2 col-0"></div>
    </div>
</footer>