<div class="content">
    <h2>Mon cursus scolaire</h2>
    <div class="cursus-list">
        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="card slide-left">
                    <div class="card-time">
                        <p>2019-2023</p>
                    </div>
                    <div class="card-title">
                        <h4>Formation d’Ingénieur Informatique à l’EISTI/CY Tech</h4>
                    </div>
                    <div class="card-content">
                        <p>Une école formant des Ingénieurs spécialisés dans différents domaines de l’informatique</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="card slide-right">
                    <div class="card-time">
                        <p>2017-2019</p>
                    </div>
                    <div class="card-title">
                        <h4>Deux ans de cycle préparation à l’EISTI</h4>
                    </div>
                    <div class="card-content">
                        <p>Une école formant des Ingénieurs spécialisés dans différents domaines de l’informatique</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="card slide-left">
                    <div class="card-time">
                        <p>2017</p>
                    </div>
                    <div class="card-title">
                        <h4>Baccalauréat Scientifique</h4>
                    </div>
                    <div class="card-content">
                        <p>Option science de l'ingénieur, Allemand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>