<div class="content">
    <h2>Projets Personnels</h2>
    <div class="cursus-list">
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Participation à la Level Up Circle: Beginner Jam #1</h4>
                    </div>
                    <div class="card-content">
                        <p>Création d'un jeu de rythme durant une GameJam(concours de création de jeu) d'une durée d'une semaine, sur le théme "la température est clé.</p>
                        <p><a href="https://itch.io/jam/level-up-circle-beginner-jam-1">Lien de la Jam</a></p>
                        <a href="https://edriks.itch.io/keep-it-hot">Lien du jeu</a>
                    </div>
                </div>
                <div class="card slide-right">
                    <div class="card-title">
                        <h4>Prototypes sur Unity</h4>
                    </div>
                    <div class="card-content">
                        <p>De nombreux prototypes de jeux, d'éléments de gameplay ainsi que de génération procédurale, développés sur Unity, sur ordinateur ou en réalité virtuelle</p>
                    </div>
                </div>
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Monde VRChat</h4>
                    </div>
                    <div class="card-content">
                        <p>Développement d'un monde sur VRChat incluant un système d'orbite de la lune autour de la terre développé en Udon.</p>
                    </div>
                </div>
    </div>

    <h2>Hobbies</h2>
    <div class="hobbies-list">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Dessin</h4>
                        <p>Vectoriel, digital</p>
                    </div>
                </div>
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Modélisation 3D</h4>
                        <p>Sur Blender principalement</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card slide-right">
                    <div class="card-title">
                        <h4>Jeux Vidéos</h4>
                        <p>Bac à sable, survie, gestion, first person shooter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>