<div class="content">
    <h2>Mes niveaux de langage</h2>
    <div class="cursus-list">
                <div class="card card-img slide-left" style="padding: 0px;">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-4">
                            <img src="assets/image_adobe_express_fra.jpeg" alt="La tour Eiffel" class="card-image">
                        </div>
                        <div class="col-12 col-md-6 col-xl-8" style="padding: 2rem;">
                            <div class="card-title">
                                <h4>Français</h4>
                            </div>
                            <div class="card-content">
                                <p>Locuteur Natif</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-img slide-right" style="padding: 0px;">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-8" style="padding: 2rem;">
                            <div class="card-title">
                                <h4>Anglais</h4>
                            </div>
                            <div class="card-content">
                                <p>Niveau C1</p>
                                <div class="card-mention">
                                    <p>TOEIC avec un score de 985/1000</p>
                                    <p>Utilisé de manière journalière dans un cadre personel et social</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <img src="assets/image_adobe_express_ang.jpeg" alt="Big Ben" class="card-image">
                        </div>
                    </div>
                </div>
                <div class="card card-img slide-left" style="padding: 0px;">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <img src="assets/image_adobe_express_all.jpeg" alt="La tour Eiffel" class="card-image">
                        </div>
                        <div class="col-12 col-md-6 col-xl-8" style="padding: 2rem;">
                            <div class="card-title">
                                <h4>Allemand</h4>
                            </div>
                            <div class="card-content">
                                <p>Niveau estimé à A1 du CERF</p>
                                <div class="card-mention">
                                    <p>Une semaine d’immersion en famille d’accueil à Münster, Allemagne.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-img slide-right" style="padding: 0px;">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-8" style="padding: 2rem;">
                            <div class="card-title">
                                <h4>Japonais</h4>
                            </div>
                            <div class="card-content">
                                <p>Un an et demi d’étude</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <img src="assets/image_adobe_express_jap.jpeg" alt="Chureito pagoda and Fuji mountain in Japan." class="card-image">
                        </div>
                    </div>
                </div>
    </div>
</div>





