/* You can add global styles to this file, and also import other style files */
@keyframes slideInLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

body {
    color: white;
    background-color:darkcyan;
    background-image: url("assets/59278.jpg");
    background-size: cover;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

app-root {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

app-footer {
    width: 100%;
}

a {
    color: #4F2F2F;
}

h2 {
    color: antiquewhite;
}

h4 {
    color: 	#4F2F2F;
}

header {
    background-color: darkslategrey;
    position: fixed;
    top: 0px;
    margin-bottom: 2rem;
    z-index: 1;
    width: 100%;
}

footer {
    background-color: darkslategrey;
    position: relative;
    height: auto;
    width: 100%;
    padding: 10px;
}

.row {
    width: 100%;
    margin: 0px !important;
}

.btn-link {
    border: 1px solid darkslategray;
    border-radius: 2rem;
    padding: 0.5rem;
    color: #D4E4BC;
    background-color: darkslategray;
    display: table;
    text-align: center;
}

.header .btn-link a {
    text-decoration: none;
    color: antiquewhite;
    display: table-cell;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 15px;
}

.btn-link:hover {
    border: 1px solid #D4E4BC;
    background-color: #D4E4BC;
}

.btn-link:hover a {
    color: black;
}

.btn-footer {
    border: 1px solid #D4E4BC;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 24px;
    color: darkslategray;
    background-color: #D4E4BC;
    display: table;
    text-align: center;
    align-self: center;
    width: 500px;
    height: 50px;
}

.btn-footer a {
    text-decoration: none;
    color: darkslategray;
    display: table-cell;
    vertical-align: middle;
}

.btn-footer:hover {
    border: 1px solid darkslategray;
    box-shadow: 5px 5px 5px 7px darkcyan;
    color: #D4E4BC;
    background-color: darkslategray;
}

.btn-footer:hover a {
    color: #D4E4BC;
}

header .btn-link {
    height: 66px;
    width: 140px;
    border-radius: 0px;
}

.body {
    flex:1;
}

.content {
    margin-top: 66px;
}

.card {
    color: inherit;
    color: darkslategray;
    background-color:antiquewhite;
    opacity: 0.6;
    margin: 24px;
    padding: 2rem;
    border-radius: 5px;
}

.card .card-mention {
    font-style: italic;
}

.card-time {
    font-weight: 300;
}

.card-time p {
    margin-bottom: 5px;
}

.card-section {
    align-content: center;
    height: 100px;
    margin-bottom: 0px;
}

.card-expand .col-12 {
    flex-grow: 1;
    transition: all 600ms ease;
}

.card-expand .col-12 .card {
    border-radius: 5px 5px 0px 0px;
    transition: all 600ms ease;
}

.card-expand .col-12 .card {
    margin-bottom: 0px;
    border-bottom: 0px;
}

.card-expand .col-6 .card {
    border-radius: 5px;
    transition: all 600ms ease;
}

.card-expand .col-6 {
    flex-shrink: 0;
    transition: all 600ms ease;
}

.fade-card {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    transition: all 600ms ease;
}

.card-expand .col-12 .card.fading-card {
    border-radius: 0px 0px 5px 5px;
    margin-top: 0px;
    border-top: 0px;
}

.fade-content {
    height: 0px;
    padding: 0px;
    margin: 0px;
    opacity: 0;
    transition: all 600ms ease;
}

.card-expand {
    opacity: 1;
    margin-bottom: 48px;
}

.card-expand h4{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.etendre-block {
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 8px;
}

.slide-left {
    animation: 0.6s ease-out 0s 1 slideInLeft;
}

.slide-right {
    animation: 0.6s ease-out 0s 1 slideInRight;
}

.card-fill{
    top: 30%;
}

.card-img .row > .col-12{
    padding: 0px;
}

.card-img .col-12 {
    align-content: center;
}

.card-image {
    width:250px;
    height:250px;
}

.slide-left .card-image {
    border-radius: 5px 0px 0px 5px;
    float: left;
}

.slide-right .card-image {
    border-radius: 0px 5px 5px 0px;
    float: right;
}