<div class="content">
    <h2>Mes expériences professionelles</h2>
    <div class="cursus-list">
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Le Zéro et l’Infini.</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-mention">
                            <p>Windev, MySQL</p>
                            <p>Périgueux, France</p>
                        </div>
                        <p>Trois mois de stage de développement d’un logiciel de gestion ERP à l'entreprise Périgourdine du Zéro et l'Infini, dans l'optique de le vendre à des entreprises clientes. Le stage s'est surtout concentré autour du développement de pages et de la création d'une base de donnée contenant toute les villes, rues et lieux-dit de France, peuplée par des API publique, de manière à assister les clients dans leur tournées de prospection, livraisons, ou autre activité dmandant un accés à des lieu physiques</p>
                    </div>
                </div>
                <div class="card slide-right">
                    <div class="card-title">
                        <h4>Audet Conseil (Eté 2022)</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-mention">
                            <p>Mendix, CSS</p>
                            <p>Bergerac, France / Paris, France</p>
                        </div>
                        <p>Quatre mois de stage d'étude sur les logiciels Low-code dans le cadre de la création d'une liste comparative des différents logiciels disponible, servant de ressource afin de conseiller les entreprises intéressées dans cette technologies, puis départ en mission en tant que consultant auprès de la Caisse des Dépots et Consignation dans le cadre de la création d'une application gérant la création de demande de prèt ainsi que l'instruction de ces prêts.</p>
                    </div>
                </div>
                <div class="card slide-left">
                    <div class="card-title">
                        <h4>Audet Conseil (2022/2023)</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-mention">
                            <p>Mendix, CSS</p>
                            <p>Bergerac, France / Paris, France</p>
                        </div>
                        <p>Un an d'alternance auprès en mission à la Caisse des dépots et Consignation autour de l'intégration graphique du style développé par l'équipe graphique au sein des différentes applications Mendix développé par la CDC, avec un focus sur la communication entre les différents poles de développement et la résolution de bugs, conflits et erreurs.</p>
                    </div>
                </div>
</div>
</div>